{% extends 'base.html.twig' %}

{% block title %}Edit Processus{% endblock %}

{% block body %}
    <h1>Edit Processus</h1>

    {{ include('processus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('processus_index') }}">back to list</a>

    {{ include('processus/_delete_form.html.twig') }}
{% endblock %}
