{% extends 'base.html.twig' %}

{% block title %}New Processus{% endblock %}

{% block body %}
    <h1>Create new Processus</h1>

    {{ include('processus/_form.html.twig') }}

    <a href="{{ path('processus_index') }}">back to list</a>
{% endblock %}
