<form method="post" action="{{ path('risque_delete', {'id': risque.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ risque.id) }}">
    <button class="btn">Delete</button>
</form>
