{% extends 'base.html.twig' %}

{% block title %}New Risque{% endblock %}

{% block body %}
    <h1>Create new Risque</h1>

    {{ include('risque/_form.html.twig') }}

    <a href="{{ path('risque_index') }}">back to list</a>
{% endblock %}
