{% extends 'base.html.twig' %}

{% block title %}Edit Typo1{% endblock %}

{% block body %}
    <h1>Edit Typo1</h1>

    {{ include('typo1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('typo1_index') }}">back to list</a>

    {{ include('typo1/_delete_form.html.twig') }}
{% endblock %}
